Mini Wireless SCADA System for Industrial Automation/node-red/flows_v2.json
[
    {
        "id": "b820c09d18bd9c11",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b28e2d17874bc63c",
        "type": "mqtt out",
        "z": "b820c09d18bd9c11",
        "name": "",
        "topic": "esp32/pump",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "209693ef0e4fa260",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "db88ceb5c66ec2bd",
        "type": "ui_switch",
        "z": "b820c09d18bd9c11",
        "name": "",
        "label": "PUMP",
        "tooltip": "",
        "group": "893f36e413eabf83",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "b28e2d17874bc63c"
            ]
        ]
    },
    {
        "id": "487e7849d3e53bab",
        "type": "ui_gauge",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "893f36e413eabf83",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Water",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 560,
        "wires": []
    },
    {
        "id": "c569327ac226889b",
        "type": "ui_gauge",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "893f36e413eabf83",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "e126ba86c35bc952",
        "type": "ui_gauge",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "893f36e413eabf83",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "9d66b869657e40e9",
        "type": "mqtt in",
        "z": "b820c09d18bd9c11",
        "name": "",
        "topic": "esp32/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "209693ef0e4fa260",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 720,
        "wires": [
            [
                "62303da2223ca6e7"
            ]
        ]
    },
    {
        "id": "62303da2223ca6e7",
        "type": "function",
        "z": "b820c09d18bd9c11",
        "name": "function 1",
        "func": "// create message for Gauge 1\nvar water = {\n    payload: msg.payload.water\n};\n\n// create message for Gauge 2\nvar temp = {\n    payload: msg.payload.temp\n};\n\nvar humi = {\n    payload: msg.payload.humi\n}\n\nvar power = {\n    payload: msg.payload.power\n}\n\nvar litter = {\n    payload: msg.payload.litter\n}\n// send to two outputs\nreturn [water, temp, humi, power, litter];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 720,
        "wires": [
            [
                "487e7849d3e53bab"
            ],
            [
                "c569327ac226889b"
            ],
            [
                "e126ba86c35bc952"
            ],
            [
                "92344ba5795f136d"
            ],
            [
                "1952cd3fcae79d61"
            ]
        ]
    },
    {
        "id": "92344ba5795f136d",
        "type": "ui_gauge",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "893f36e413eabf83",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "1952cd3fcae79d61",
        "type": "ui_gauge",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "893f36e413eabf83",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Water out",
        "label": "Litter",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 960,
        "wires": []
    },
    {
        "id": "209693ef0e4fa260",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "893f36e413eabf83",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "ae59a9b3a4f072e4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae59a9b3a4f072e4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8031c3346af4de57",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]