Mini Wireless SCADA System for Industrial Automation/node-READ/flows.json
[
    {
        "id": "b820c09d18bd9c11",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46c39a39416ec21a",
        "type": "ui_button",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "40d6e64b850d7b8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "b28e2d17874bc63c"
            ]
        ]
    },
    {
        "id": "adc76dc829602aea",
        "type": "ui_button",
        "z": "b820c09d18bd9c11",
        "name": "",
        "group": "40d6e64b850d7b8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "b28e2d17874bc63c"
            ]
        ]
    },
    {
        "id": "b28e2d17874bc63c",
        "type": "mqtt out",
        "z": "b820c09d18bd9c11",
        "name": "",
        "topic": "/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "209693ef0e4fa260",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "40d6e64b850d7b8b",
        "type": "ui_group",
        "name": "Led Control",
        "tab": "7e12ea7892b3a722",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "209693ef0e4fa260",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7e12ea7892b3a722",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e7feda92c8944924",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]